:root {
  --color-primary: #0e172a;
  --color-secondary: #9333ea;

  --color-text: #111;
  --color-bg: #fff;
  --color-gray: #e2e8f0;
  --color-gray-dark: #64748b;
  --shadow-color: #2663eb;

  --color-background: #f8fafc;

  --color-white: #fff;
}
