@use './breakpoints' as bp;

:root {
  /* Espaciados base */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  /* Container — mobile base */
  --container-width: 1400px;
  --container-padding: var(--space-md);
}

@media (min-width: #{bp.$break-mobile}) {
  :root {
    --container-padding: var(--space-xl);
  }
}

@media (min-width: #{bp.$break-tablet}) {
  :root {
    --container-padding: var(--space-xxl);
  }
}
